.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2%;
  max-width: 1200px;
  margin: auto;

}

.leftPanel {
  grid-column: 1 / 2;
  height: 100vh;
}

.rightPanel {
  grid-column: 2 / 4;
  height: 100vh;
}
