.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  max-width: 1200px;
  margin: auto;
  width: 95vw;
  background: rgb(19,119,82);
  background: linear-gradient(135deg, rgba(19,119,82,1) 0%, rgba(25,169,116,1) 45%, rgba(158,235,207,1) 100%);
}
